<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content>
    <ion-card *ngFor="let item of eliteArray">
        <h2>{{item.title}}, {{item.id}}</h2>
    </ion-card>
</ion-content> -->

<ion-card *ngFor="let item of eliteArray">
    <!-- <img src="https://ionicframework.com/dist/preview-app/www/assets/img/nin-live.png"/> -->
    <ion-card-content >
      <ion-card-title>
          {{item.title}}
        </ion-card-title>
      <p>
          {{item.body}}, {{item.id}}
      </p>
    </ion-card-content>
  </ion-card>



<!-- <ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content> -->
