<ion-header>
  <ion-navbar>
    <ion-title>
      Cool Bro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of perPageElite" (click)="goTo(item)">
      <img src="https://picsum.photos/200/100"/>
    <ion-card-header>
      {{item.title}}
    </ion-card-header>
    <ion-card-content>
      <p>
        {{item.body}}, {{item.id}}
      </p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar item-start>
        <img src="{{user.avatar}}">
      </ion-avatar>
      <h2>{{user.first_name}} {{user.last_name}}</h2>
    </ion-item>
  </ion-list> -->

  <!-- <ion-list>
    <ion-item *ngFor="let item of items">{{item}}</ion-item>
  </ion-list> -->

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
